
<div class="row">

    <form>
        <input type="text" ng-model="keyword"/> <button ng-click="find();">Search</button>
    </form>

    <h4>search for : {{ keyword }}</h4>

    <p>initial state: load media from different sources</p>

</div>

<!-- 
$$hashKey: "005"
added: "12:00:00"
author: "author name"
consumed: "12:10:00"
genre: ""
local: "google_books.json"
rating: "0"
src: "https://www.googleapis.com/books/v1/volumes?q=dan+brown"
status: ""
thumb: "http://placehold.it/53x80"
title: "google book"
type: "book"
 -->