<div class="row">

    <div class="span3 sidebar">
        <ul class="nav nav-list">
            <li><a href="#">My List <i class="icon-chevron-right"></i></a></li>
            <li><a href="#">Search Media <i class="icon-chevron-right"></i></a></li>
        </ul>
    </div><!-- #sidebar -->

    <div class="span9">

        <ul>
            <li class="media" ng-repeat="book in books">
                <a class="pull-left" href="{{ book.volumeInfo.canonicalVolumeLink }}" target="_blank">
                    <img class="media-object" src="{{ book.volumeInfo.imageLinks.smallThumbnail }}">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ book.volumeInfo.title }}</h4>
                    <p>{{ book.volumeInfo.description }}</p>
                </div>
            </li>
        </ul><!-- #books list -->

    </div><!-- #main content -->

</div>
