
<div class="row">

    <table class="table">
      <caption>My List</caption>
      <thead>
        <tr>
          <th>Cover</th>
          <th>title</th>
          <th>author</th>
          <th>rating</th>
          <th>shelves</th>
          <th>date read</th>
          <th>date added</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr ui-if="loadingDataIsDone">
          <td colspan="8"><div pagination></div></td>
        </tr>
        <tr ng-repeat="media in data.results">
          <td>
            <a class="pull-left" href="{{media.url}}" target="_blank">
              <img class="media-object" src="{{media.poster}}" width="50"/>
            </a>
          </td>
          <td>
            <a class="pull-left" href="{{media.url}}" target="_blank">
              {{media.title}}
            </a>
          </td>
          <td>{{media.author}}</td>
          <td>
            <select ng-model="media.rating" style="width:50px" ng-change="mediaList.setRating({ind:$index});">
              <option>0</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          <td>shelves</td>
          <td>date read</td>
          <td>date added</td>
          <td>
            <a href="javascript:void(0);" ng-click="mediaList.edit({ind:$index});"><i class="icon-pencil"></i></a>
            <a href="javascript:void(0);" ng-click="mediaList.remove({ind:$index});"><i class="icon-trash"></i></a></td>
        </tr>

      </tbody>
    </table>

</div>
